body{
    font-family: 'Montserrat', sans-serif;
}    
.container{
    overflow-x: hidden;
    overflow-y: hidden;
}   

/*-------------- AOS image rotate -------------*/
[data-aos="rotate-c"] {
  transform: rotate(-180deg);
  transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
  transform: rotate(0deg);
}

/*-------------- For Bounce Effect On Images -------------*/
.imagess {
      margin-top: 50px;
      animation: bounce 2s infinite alternate;
      -webkit-animation: bounce 3s infinite alternate;
    }
    @keyframes bounce {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-55px);
      }
    }
    @-webkit-keyframes image {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-55px);
      }
    }

















/*-------------- s1_header ----------------*/
#s1_header{
    background-image: url('/assets/images/face.png'), url('/assets/images/rectangleleft.png');
    background-position: right, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
}

.s1_header_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "head_header head_header head_header head_header"
                         "head_header head_header head_header head_header"
                         "head_desc head_desc head_desc head_desc"
                         "head_icons head_icons head_icons head_icons"
}
.head_header{
    grid-area: head_header;
    grid-row: 2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 110px;
    color: #3F3F3F;
}
.head_desc{
    grid-area: head_desc;
    grid-row: 3;
    padding-top: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #3F3F3F;
}
.head_icons{
    grid-area: head_icons;
    grid-row: 5;
    padding-bottom: 50px;
}
.sub_space{
    padding-right: 25px;
}
@media (max-width: 768px){
    #s1_header{
    background-image: url('/assets/images/facemobile.png'), url('/assets/images/rectangleleftmobile.png');
    background-position: right, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    height: 80vh;
}
    .s1_header_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "head_header head_header head_header head_header"
                         "head_header head_header head_header head_header"
                         "head_desc head_desc head_desc head_desc"
                         "head_icons head_icons head_icons head_icons"
}
   .head_header{
    grid-area: head_header;
    grid-row: 1;
    padding-top: 10px;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}
.head_desc{
    grid-area: head_desc;
    grid-row: 2;
    padding-top: 20px;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}
.head_icons{
    grid-area: head_icons;
    grid-row: 4;
    padding-top: 250px;
    margin-left: 20px;
} 
    .sub_space{
    padding-right: 6px;
}
}


/*-------------- s2_aboutme ----------------*/
#s2_aboutme{background: #000000}

.s2_aboutme_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
    grid-template-areas: "about_img about_img about_header about_header"
                         "about_img about_img about_details about_details"
                         "about_img about_img about_details about_details"
}

.about_img{
    grid-area: about_img;
}
.about_header{
    grid-area: about_header;
    grid-row: 1;
    padding-top: 120px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}
.about_details{
    grid-area: about_details;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #8A8A8A;
}
.about_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #F66E44;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 992px){
    .s2_aboutme_grid{
    grid-gap: 15px;
    grid-template-areas: "about_img about_img about_img about_img"
                         "about_header about_header about_header about_header"
                         "about_details about_details about_details about_details"
}
    .about_img{
    grid-area: about_img;
}
.about_header{
    grid-area: about_header;
    padding-top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}
.about_details{
    grid-area: about_details;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
    .about_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #F66E44;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
}


.me_line{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.me_line:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 10px;
    bottom: 0;
    border-bottom: 2px solid #F66E44;
}


.about_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.about_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.about_button:hover span {
  padding-right: 25px;
}

.about_button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-------------- s3_gallery ----------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.view_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #F66E44;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.view_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.view_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.view_button:hover span {
  padding-right: 25px;
}

.view_button:hover span:after {
  opacity: 1;
  right: 0;
}
.gallery_header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #3F3F3F;
}

/*-------------- s4_prices ----------------*/
#s4_prices{
    background-image: url('/assets/images/priceface.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 768px){
   #s4_prices{
    background-image: url('/assets/images/pricefacemobile.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto;
} 
    .price_header{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px!important;
    line-height: 34px;
    }
    .portrait_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 21px!important;
        line-height: 26px;
        color: #F66E44;
    }
}

.hover_test:hover{
    border: 1px solid #8A8A8A;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.invibutton{
    visibility: hidden;
}
.hover_test:hover  .invibutton{
    visibility: visible;
}
.price_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F66E44;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.price_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.price_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.price_button:hover span {
  padding-right: 25px;
}

.price_button:hover span:after {
  opacity: 1;
  right: 0;
}
.price_header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #3F3F3F;
}
.e_underline{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.e_underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    border-bottom: 2px solid #F66E44;
}
.portrait_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #F66E44;
}
/*-------------- s5_contactme ----------------*/
#s5_contactme{background: #000000;}

.s5_contactme_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "contact_info page_info contact_email contact_email"
}
.contact_info{
    grid-area: contact_info;
}
.page_info{
    grid-area: page_info;
    text-align: center;
}
.contact_email{
    grid-area: contact_email;
}

@media (max-width: 992px){
    .s5_contactme_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "contact_info"
                         "page_info"
                         "contact_email"
}
    .contact_info{
    grid-area: contact_info;
}
    .page_info{
    grid-area: page_info;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
    .contact_email{
    grid-area: contact_email;
}
}

.contact_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}
.contact_body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.contact_list{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}
.stay_in_touch{
    padding-bottom: 35px;
}






































a{
    text-decoration: none!important;
    color: #9B9B9B;
}
a:hover{
    color: #F66E44!important;
}
.in_display{
    display: inline-flex;
}
.vanish{
    border: 1px solid #F66E44;
    padding: 11px 43px;
    height: 49px;
    background-color: #000000;
}
.email_button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F66E44;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.email_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.email_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.email_button:hover span {
  padding-right: 25px;
}

.email_button:hover span:after {
  opacity: 1;
  right: 0;
}






















